/*COLORES
 * NORMAL- #43A047
 * HOVER - #2E7D32
 * FOCUS - #388E3C
 * 
 */


/*******************************************************************************
 *                                                                             *
 * Color fondo                                                                 *
 *                                                                             *
 ******************************************************************************/
.backgroundColor{
	-fx-background-color:#FAFAFA;
}








/*******************************************************************************
 *                                                                             *
 * botones                                                                     *
 *                                                                             *
 ******************************************************************************/
.buttonPrincipalStyle{
	-fx-background-color: #43A047;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

.buttonPrincipalStyle:hover{
	-fx-background-color: #2E7D32;
}






/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/
.textField{
	-fx-background-radius: 0;
}
.textField:hover{
	-fx-border-width: 2;
	-fx-border-color:#A5D6A7;
}

.textField:focused{
	-fx-border-width: 2;
	-fx-border-color: #388E3C;
}






/*******************************************************************************
 *                                                                             *
 * Labels                                                                      *
 *                                                                             *
 ******************************************************************************/
.labelSearch{
	-fx-font-style: italic;
	-fx-font-size:17;
	-fx-padding: 5 5 5 5;
}





